/* ANCHOR Base */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body,
button,
input {
   font-family: "Exo 2", sans-serif;
   font-size: 16px;
}

p {
   line-height: 1.6;
}

h1 {
   font-size: 5.5rem;
}

h2 {
   font-size: 4.5rem;
}

h3 {
   font-size: 3rem;
}

h4 {
   font-size: 2rem;
}

h5 {
   font-size: 1.5rem;
   font-weight: normal;
}

.container {
   max-width: 1280px;
   width: 100%;
   margin: 6rem auto 0;
   border-radius: 1rem;
}

.btn {
   padding: 1rem 2rem;
   border-radius: 0.5rem;
   border: 1px solid transparent;
   outline: none;
   transition: all;
   transition-duration: 150ms;
}

.btn:active {
   transform: scale(0.9);
}

.section-title {
   margin-top: 1rem;
   margin-bottom: 1.5rem;
}

.description {
   font-size: 1.25rem;
   font-weight: lighter;
   color: #767676;
}

/* ANCHOR Components */
/* Hero Section */
.hero-section {
   margin-top: 3rem;
   height: 36rem;
   display: grid;
   justify-items: center;
   align-content: center;
   background-image: linear-gradient(to bottom, #070211, #07021133),
      url("assets/images/Banner Image.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   color: white;
}

.hero-greeting {
   font-weight: normal;
}

.hero-title {
   max-width: 50rem;
   margin-top: 1.5rem;
}

/* Discount Section */
.parcentage {
   margin-bottom: 2rem;
}

.discount-hny-image {
   max-width: 50rem;
   margin: 3rem auto 0;
}

/* Party Promotion Section */
.party-promo {
   padding: 6rem;
   background-image: url("assets/images/NY2024.png"),
      linear-gradient(to right, #070211, #07021100),
      url("assets/images/Models-1.png");
   background-repeat: no-repeat;
   background-position: right 3rem center, center center, center center;
   background-size: auto 80%, cover, cover;
}

.party-promo-title {
   font-style: italic;
   max-width: 40rem;
}

.party-promo-description {
   margin-top: 1.75rem;
   margin-bottom: 2.5rem;
   max-width: 40rem;
   font-style: italic;
   color: #bbbbbb;
}

.party-promo-join-btn {
   background-color: transparent;
   color: white;
   border: 1px solid #252525;
}

.party-promo-join-btn:hover {
   background-color: #78787840;
}

/* Event Schedule Section */
.event-schedule {
   padding: 6rem;
   background-image: linear-gradient(to bottom, #ff00001a, #ff000000);
}

.event-info {
   display: flex;
   flex-direction: column;
   gap: 1.25rem;
   margin-bottom: 2.5rem;
}

.event-info > h4 {
   font-weight: normal;
}

.event-schedule > .event-join-btn {
   background-color: red;
   color: white;
}

/* Coming Soon Section */
.coming-soon {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   align-items: center;
}

.circular-image {
   margin: 0 1.5rem;
   width: 28.75rem;
   height: 28.75rem;
   border-radius: 50%;
   background-clip: content-box;
   padding: 1.5rem;
   border: 0.75rem solid red;
}

.coming-soon > .right-box {
   text-align: right;
}

.coming-soon > .right-box > .description {
   margin-top: 1rem;
   margin-bottom: 2rem;
}

.coming-soon > .right-box > img {
   width: 8.75rem;
   height: 8.75rem;
}

/* Sale Section */
.sale-title {
   margin-top: 1rem;
   margin-bottom: 2rem;
}

.sale-section > .description {
   max-width: 64rem;
   margin: 0 auto 4rem;
}

.sale-mediabox {
   height: 30rem;
   position: relative;
   display: flex;
   justify-content: space-between;
}

.sale-mediabox > img {
   height: 100%;
}

.sale-mediabox > .red-box {
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: -1;
   height: 8.75rem;
   width: 100%;
   border-radius: 1rem 0 1rem 1rem;
   background-color: red;
}

.sale-mediabox > .right-box {
   margin-bottom: 8.75rem;
   position: relative;
   display: flex;
   justify-content: end;
}

.sale-mediabox > .right-box > img {
   height: 100%;
}

.sale-mediabox > .right-box > .discount {
   position: absolute;
   left: 0;
   top: 50%;
   width: 12rem;
   height: 12rem;
   transform: translateY(-50%);
}

/* Portfolio Section */
.portfolio > .description {
   max-width: 56.25rem;
}

.product-gallery {
   margin-top: 3rem;
   display: grid;
   gap: 1.5rem;
   grid-template-columns: repeat(3, 1fr);
}

.product-card {
   position: relative;
   overflow: hidden;
   border-radius: 1rem;
}

.product-card > .product-info {
   padding: 0 3rem;
   height: 6rem;
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   font-size: 1.5rem;
   color: white;
   display: grid;
   align-items: center;
   background-image: linear-gradient(to bottom, #1e1e1e00, #1e1e1ebf);
   transform: translateY(100%);
   transition: all;
   transition-duration: 200ms;
}

.product-card:hover > .product-info {
   transform: translateY(0);
}

/* Newsletter Section */
.newsletter {
   background-color: #ff00000d;
   padding: 5rem;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.newsletter > img {
   width: 9.375rem;
   height: 9.375rem;
}

.newsletter > .description {
   max-width: 42rem;
   font-size: 1rem;
}

.subscription-form {
   margin-top: 3rem;
   position: relative;
}

.subscription-form > .text-field {
   padding: 1rem 1.5rem;
   background: white;
   height: 100%;
   width: 40.5rem;
   border: 0;
   outline: none;
}

.subscription-form > .text-field::placeholder {
   color: #b0b0b0;
}

.subscription-form > .submit-btn {
   position: absolute;
   right: 0;
   height: 100%;
   padding-left: 3rem;
   padding-right: 3rem;
   background-color: red;
   color: white;
   border-radius: 0 100px 100px 0;
   border: 0;
   outline: none;
}

/* Footer Section */
.footer-area {
   background-color: #070211;
   padding-top: 5rem;
   padding-bottom: 5rem;
   margin-top: 7.5rem;
}

.footer-section {
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   gap: 3rem;
}

.footer-header {
   display: flex;
   justify-content: space-between;
}

.footer-header > address {
   width: 20rem;
   line-height: 1.6;
}

.footer-header > .contact-info {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}

.footer-header > .contact-info > li {
   list-style: none;
   display: flex;
   align-items: center;
}

.footer-header > .contact-info > li > img {
   width: 1.5rem;
   height: 1.5rem;
   margin-right: 1rem;
}

.social-links {
   padding-top: 3rem;
   padding-bottom: 3rem;
   border-top: 1px solid #ffffff26;
   border-bottom: 1px solid #ffffff26;
   display: flex;
   justify-content: center;
   column-gap: 1.5rem;
}

.social-links > a > img {
   width: 3.5rem;
   height: 3.5rem;
   transition: all;
   transition-duration: 120ms;
}

.social-links > a:hover > img {
   transform: scale(1.25);
}

.footer-section > footer {
   display: flex;
   justify-content: space-between;
   align-content: center;
}

.footer-area a {
   color: white;
   text-decoration: none;
}

/* ANCHOR Utilities */
.mt-16 {
   margin-top: 1rem;
}
.mt-24 {
   margin-top: 1.5rem;
}

.border {
   border: 1px solid lightgray;
}

.rounded {
   border-radius: 100px;
}

.text-center {
   text-align: center;
}

.text-primary {
   color: red;
}

.text-white {
   color: white;
}
